.ad {
    top: 0;
    width: 100%;
    animation: Ad_fade-in__2Ax1N 100ms ease-in-out forwards;
}

.adbtn {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 102;
    right: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid orange;
    background: white;
    box-shadow: 0 3px 3px black;
}

.adbtn img {
    width: 70%;
}

@keyframes fade-in {
    0% {
        display: inline-block;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }


}