*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  height: 100%;
}

li {
  list-style: none;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

#root{ 
  display: flex !important;
  flex-direction: column !important;
  height: 100%;
}

.gibson-regular {
  font-family: 'canada-type-gibson', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gibson-bold {
  font-family: 'canada-type-gibson', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gibson-semibold {
  font-family: 'canada-type-gibson', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.gibson-medium {
  font-family: 'canada-type-gibson', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.pages-title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #262626;
  font-size: 1.3rem;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 5px;
}
.m-2 {
  margin: 10px;
}
.m-3 {
  margin: 15px;
}
.m-4 {
  margin: 20px;
}
.m-5 {
  margin: 25px;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 20px;
}
.ml-5 {
  margin-left: 25px;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-5 {
  margin-bottom: 25px;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 25px;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 5px;
}
.pt-2 {
  padding-top: 10px;
}
.pt-3 {
  padding-top: 15px;
}
.pt-4 {
  padding-top: 20px;
}
.pt-5 {
  padding-top: 25px;
}